@model PEX.CustomerPayment.Presentation.ViewModels.TerminosYCondicionesVIewModel


@{
    ViewBag.Title = "Términos y condiciones";
    Layout = "~/Views/Shared/_ModalLayout.cshtml";
}

@*<h2>Términos y condiciones</h2>*@


@Html.Raw(Model.TerminosYCondiciones)
