<div class="row" id="default-modal-container">
    <div class="d-none" id="default-modal-loading">
        <div class="modal-body text-center">
            <div class="preloader pl-lg m-t-10">
                <svg class="pl-circular" viewBox="25 25 50 50">
                    <circle class="plc-path" cx="50" cy="50" r="20"></circle>
                </svg>
            </div>
        </div>
    </div>
    <div class="d-none" id="default-modal-loading-error">
        <div class="modal-header">
            <h4 class="modal-title" id="myLargeModalLabel">
                The page could not be loaded
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        @*<div class="modal-body">
                <h4 class="text-center"><i class="zmdi zmdi-alert-circle zmdi-hc-lg zmdi-hc-fw"></i> Ha ocurrido un error </h4>
            </div>*@
        <div class="modal-footer">
            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>