<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://peruexpress.cloud/pagos</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>10.10.0.212</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/pagos</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GirosEntities" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PEX.CustomerPayment.Presentation.Models.Database.GirosEntities, PEX.CustomerPayment.Presentation" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PexSqlEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PEX.CustomerPayment.Presentation.Models.Database.SQL.PexSqlEntities, PEX.CustomerPayment.Presentation" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PexEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=db-pex-peru-express.c1qbc6zxkthm.us-east-1.rds.amazonaws.com;Initial Catalog=PEX.SC.Pruebas;Persist Security Info=True;User ID=bdadmin;Password=BDP3ruP3x.$12;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PexEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Database.PexModel.csdl|res://*/Models.Database.PexModel.ssdl|res://*/Models.Database.PexModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=db-pex-peru-express.c1qbc6zxkthm.us-east-1.rds.amazonaws.com;initial catalog=PEX.SC.Pruebas;persist security info=True;user id=bdadmin;password=BDP3ruP3x.$12;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GirosEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PexEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PexSqlEntities-Web.config Connection String" />
  </ItemGroup>
</Project>